<div class="card" x>
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Service Donations Table
    </div>
    <div class="card-body">
      <table class="table" >
        <thead>
          <tr>
            <th>Service</th>
            <th>Number</th>
            <th>Donor email</th>
            <th>Event title</th>
            <th>Confirm / Delete </th>
          </tr>
        </thead>
        <tbody  >
          <tr  *ngFor = "let s of service | slice:startIndex:endIndex" >
            <td>{{s.name}}</td>
            <td>{{s.amount}}</td>
            <td>{{s.donor_email}}</td>
            <td>{{s.event_title}}</td>
            <td>
              <button type="button" (click) = "confirmservice(s.id)">Confirm</button>
              <button type="button" (click) = "deleteservice(s.id)" >Delete</button>
            </td>
          </tr>
      
        </tbody>
      </table>
      <ul class="pagination">
        <div *ngFor="let i of getArrayFromNumber(service.length) ; let in= index ">
          <li *ngIf=" in + 1 === pageindex" class="page-item active">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li>
          <li *ngIf="in + 1 !== pageindex" class="page-item">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li> 

        </div>
        

      </ul>
    </div>
  </div>


  <div class="card" x>
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Goods Donations Table
    </div>
    <div class="card-body">
      <table class="table" >
        <thead>
          <tr>
            <th>Goods</th>
            <th>Number</th>
            <th>Donor email</th>
            <th>Event title</th>
            <th>Confirm / Delete </th>
          </tr>
        </thead>
        <tbody  >
          <tr  *ngFor = "let g of goods | slice:startIndex2:endIndex2" >
            <td>{{g.name}}</td>
            <td>{{g.amount}}</td>
            <td>{{g.donor_email}}</td>
            <td>{{g.event_title}}</td>
            <td>
              <button type="button" (click) = "confirmgoods(g.id)">Confirm</button>
              <button type="button" (click) = "deletegoods(g.id)" >Delete</button>
            </td>
          </tr>
      
        </tbody>
      </table>
      <ul class="pagination">
        <div *ngFor="let i of getArrayFromNumber(goods.length) ; let in= index ">
          <li *ngIf=" in + 1 === pageindex" class="page-item active">
            <a class="page-link" (click) = "updateindex2(in + 1 )"  >{{in + 1 }}</a>
          </li>
          <li *ngIf="in + 1 !== pageindex" class="page-item">
            <a class="page-link" (click) = "updateindex2(in + 1 )"  >{{in + 1 }}</a>
          </li> 

        </div>
        

      </ul>
    </div>
  </div>


