
<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Simple Table
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of userslist | slice:startIndex:endIndex" >
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
                <button type="button" (click)="deleteuser(user.id)" > Delete </button>
            </td>
          </tr>
    
        </tbody>
      </table>
      <ul class="pagination">
        <div *ngFor="let i of getArrayFromNumber(userslist.length) ; let in= index ">
          <li *ngIf=" in + 1 === pageindex" class="page-item active">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li>
          <li *ngIf="in + 1 !== pageindex" class="page-item">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li> 

        </div>
        

      </ul>
    </div>
  </div>