
<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Simple Table
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of userslist" >
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
                <button type="button" (click)="deleteuser(user.id)" > Delete </button>
            </td>
          </tr>
    
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>