<form [formGroup]="goodsForm" method="post" enctype="multipart/form-data" class="form-horizontal">

<div class="form-group row">

  <label class="col-md-2 col-form-label" for="volunteers">Add Goods</label>
<div class="col-md-7">
  <input type="text"  formControlName="description" class="form-control" placeholder="Add Goods" >
</div>
<div class="col-md-2">
  <button  type="button" (click)="Add()" class="btn btn-sm btn-primary"> ADD </button>
</div>
</div>

</form>

<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> List of goods
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Modify/Delete</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor = "let good of goodslist | slice:startIndex:endIndex" >
            <td>{{good.description}}</td>
            
            <td>
              <button type="button"  data-toggle="modal" (click)="modifypop(good)" (click)="myModal.show()"> Modify  </button>
              <button type="button" (click)="deletegoods(good.id)" > Delete </button>
            </td>
          </tr>
          
        </tbody>
      </table>
      <ul class="pagination">
        <div *ngFor="let i of getArrayFromNumber(goodslist.length) ; let in= index ">
          <li *ngIf=" in + 1 === pageindex" class="page-item active">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li>
          <li *ngIf="in + 1 !== pageindex" class="page-item">
            <a class="page-link" (click) = "updateindex(in + 1 )"  >{{in + 1 }}</a>
          </li> 

        </div>
        
        
       
      </ul>
    </div>
  </div>



   <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="mgoods" class="modal-body">
              
              <form [formGroup]="modifyForm" method="post" enctype="multipart/form-data" class="form-horizontal">

                <div class="form-group row">
                
                  <label class="col-md-3 col-form-label" for="volunteers">Modify goods</label>
                <div class="col-md-7">
                  <input type="text"  formControlName="modifydescription" class="form-control" [value] = "mgoods.description" >
                </div>
            
                </div>
                
                </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="saveupdate()">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->